
.header {
 position: absolute;  /* благодаря этой штуки блок вылетел из общего потока. И мы смогли расстянуть фон на header и на main */
 left: 0;  /* здесь учитывая что блок вылетел из потока мы создаем ему рамки чтобы она встал на месте */
 right: 0;  /* здесь учитывая что блок вылетел из потока мы создаем ему рамки чтобы она встал на месте */
}


.nav {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 1500px;
   padding-top: 20px;
   padding-right: 35px;
}

.social-networks {
   display: flex;
   gap: 0 40px; 
   padding-top: 15px;
}


 @media (min-width: 401px)  and ( max-width: 780px) {
   .nav {
      flex-direction: column;
      align-items: center;
      justify-content:flex-start
   }
    .menu-logo {
      margin-bottom: -10px;  
   }
}


@media (max-width: 400px) { 

   .nav {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-right: 0;
   }

   nav img {
      max-width: 100%;  /* Ограничивает максимальную ширину изображения */
      height: auto;  
   }

   .social-networks {
      gap: 25px;
      padding: 0;
      align-items: flex-start;
   }

   .menu-logo {
      padding-inline-start: 0px;
      margin-bottom: -10px;  
   }
}



