
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

 @font-face {  
    font-family: "Archangelsk";
    src: local("Archangelsk Regular"),
     url(../fonts/Archangelsk.woff) format("woff"),
     url(../fonts/Archangelsk.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
::after {
    box-sizing: inherit;  
}

  body {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.89;  
    font-weight: 400;
    margin: 0;
  }


  a {
    color: inherit;   
    text-decoration: none; 
  } 


  li {
    list-style-type: none;
  }


