.brand-info {
    padding-top: 13px;
    padding-bottom: 13px;
    background: #FFF;
    display: flex;
    justify-content: space-around;
}

.brand-info__logos-list {
    display: flex;
    gap: 32px;
}

.brand-info__official-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-info__info-list {
    display: flex;
    gap: 32px;
}


.brand-info__footer-info {
    background: #000;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 13px;
    padding-top: 13px;
}

.brand-info__footer-text {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-weight: 400;
}

.brand-info__footer-text:hover {
    text-decoration: underline;
}



@media (max-width: 900px) {

    .brand-info {
        flex-direction: column;
        padding-bottom: 0;
    }

    .brand-info__official-info {
        background-color: #E6E6E6;
    }

    .brand-info__info-list {
        flex-direction: column;
        align-items: center;
        padding-inline-start: 0;
        gap: 15px;
    }

    .brand-info__logos-list {
        flex-direction: column;
        align-items: center;
        padding-inline-start: 0;
        gap: 5px;
    }
    .footer-text {
        font-size: 1rem;
    }
}